<!-- app/templates/application.hbs -->

<h1>NYC's Water Consumption Trends over Time</h1>
<div>{{bar-chart}}</div>
<h3>The average New Yorker consumes 45% less water today than in 1980.</h3>
<div>{{bar-chart-2}}</div>
<h3>Because per capita consumption is significantly reduced, NYC's total water consumption has decreased over time, despite steady population growth.</h3>
<div>{{bar-chart-3}}</div>